{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "naver",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-var": "error",
    "eqeqeq": "error",
    "require-await": "warn",
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "arrow-body-style": "off",
    "padding-line-between-statements": "off",
    "no-nested-ternary": "off",
    "no-useless-return": "off",
    "class-methods-use-this": "off",
    "spaced-comment": "off"
  }
}